Repository xdslproject/devito, pull requests merged in 2024-05, with the labels that each got.

#68 tests: Refresh elastic example and add test
  fast/elastic2d.py
  tests/test_xdsl_base.py
Labels: tests

#79 devito-xdsl: Minor pass
  devito/core/cpu.py
  devito/ir/ietxdsl/__init__.py
  devito/ir/ietxdsl/cluster_to_ssa.py
Labels: tests

#65 compiler: Reuse stored temps instead of trying to load from the field again.
  devito/ir/ietxdsl/cluster_to_ssa.py
  tests/test_xdsl_base.py
  tests/test_xdsl_op_correctness.py
Labels: enhancement, tests

#90 compiler: Add support for Devito's `Symbol` in LHS
  devito/core/cpu.py
  devito/ir/ietxdsl/cluster_to_ssa.py
  devito/ir/ietxdsl/profiling.py
  tests/test_xdsl_base.py
  tests/test_xdsl_op_correctness.py
Labels: enhancement
